body{
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
    font-weight: 100;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    color: #ecdbdb;
}
.body-main{
    height: 400px;
    width: 560px;
    margin: auto;
    box-shadow: 0px 25px 31px -25px #000000;
}
.input{
    height: 65px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
}
.el{
    position: relative;
    top: 23px;
}
.check__box {
  display: inline-block;
  vertical-align: middle;
  
}
.check__input{
	-webkit-appearance: none; /* chrome, edge*/
	appearance: none; /* for future */
    -moz-appearance: none; /* firefox*/
    position: absolute; 
    left: -9999px;
}
.check__input::-ms-expand{ /* IE */
    position: absolute; 
    left: -9999px;
}
input[type="radio"]{ /* IE */
    position: absolute; 
    left: -9999px;
}
input[name="input_name"]::-webkit-input-placeholder {
    color: #e0e0e0;
    font-weight: 300;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
input[name="input_name"]::-moz-placeholder {
    color: #e0e0e0;
    font-weight: 300;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
input[name="input_name"]:-ms-input-placeholder { /*edge*/
    color: #e0e0e0;
    font-weight: 100;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.input__name{
    position: relative;
    flex: 1;
}
.input{
	display: flex;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    height: 60px;
    list-style-type: none;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background: #ffffff;
    color: #666666;
}
.check__box{
    position: relative;
    background-image: url('empty.svg');
    width: 36px;
    height: 36px;
    top: 12px;

}
.check__input{
	position: relative;
	left: 25px;
	top: 11px;
}
.namet{
	position: relative;
	font-size: 20px;
	font-weight: 300;
	left: 5px;
	top: 14px;
}
.check__input:checked + .check__box{
    background-image: url('compl.svg');
}
.delete{
    position: relative;
    background: #fff;

    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
    border:none;
    margin-left: auto;
    display: block;
    right: 10px;
    top: -15px;
}
li:hover{
    background: #fafafa;
    cursor: pointer;
}
.check__box:hover{
	cursor: pointer;
}
li:hover .delete{
    display:block;
    background: transparent;
    background-image: url('close.png');
}
.empty{
    height: 60px;
    list-style-type: none;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background: #ffffff;
    color: #666666;
    border-bottom: 1px solid #e6e6e6;
}
.button__input{
    float: left;
    background: transparent;
    background-image: url('select-all.png');
    width: 54px;
    height: 65px;
    border: none;
    position: relative;
}
.input__name{
    border: none;
}
.input{
    clear:both;
    text-align:left;
}
input[type=checkbox]:checked  + span + .namet{
    text-decoration: line-through;
    color: #d8d8d8;
}
.container{
    white-space:nowrap;
    background: #ffffff;
    color: #666666;
    font-size: 15px;
    margin-bottom: auto;
    margin-top: auto;
    border-bottom: 1px solid #e6e6e6;
}
input[type="radio"]{
    -webkit-appearance: none;
}
footer{
	height: 40px;
	border-bottom: 1px solid #e6e6e6;
}
.button_s{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.check__input:focus + .check__box{
	border: 1px solid #99bbf2;
}
.container{
    display: flex;
    align-items: center;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 13px;
}
.buttons{
	position: relative;
	left: 130px;
}
.clear{
    position: relative;
    left: 170px;
}
.clear button{
	border: none;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	color: #666666;
    font-size: 15px;
}
.items-left{
    margin-left: 0;
    margin-right: auto;
    position: absolute;
}
.buttons input:checked + span {
    border: 1px solid #ececec;
    padding: 5px;
    border-radius: 4px;
}
/*.down_1{
    height: 17px;
    width: 560px;
    margin: auto;

}
.down_2{
    background: #fff;
    height: 4px;
    width: 550px;
    margin: auto;
    z-index: -1;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}
.down_3{
    background: #fff;
    height: 4px;
    width: 540px;
    margin: auto;
    z-index: -2;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 26px 4px -4px rgba(0, 0, 0, .2);
}*/
.down_buttons:focus + .button_footer{
	border: 1px solid #99bbf2;
}
.body-main::after{
	content:"";
	margin: auto;
	width: 550px;
	height: 10px;
	display: block;
	z-index: -1;
	position: relative;
	background: #fff;
}
.body-main::before{
	position: absolute;
	top: 428px;
	content:"";
	margin: auto;
	width: 540px;
	height: 5px;
	display: block;
	z-index: -2;
	position: relative;
	background: #fff;
}

